#chat-icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.comment-content {
    resize: none;
    height: 100px;
    width: 220px;
    border: none;

}

.entire-comments-container {
}

.comments-content-btns-container {
    display: flex;
}

.comments-content-div {
    display: flex;
}

.comments-delete-btn-div {
    display: flex;
    /* justify-content: flex-end; */
}

#comments-delete-btn {
    color: rgba(255, 0, 0, 0.698);
    font-size: 15px;
    font-weight: bold;
    border: none;
    background: white;
    cursor: pointer;
}
