.trending-stories-container {
    padding: 0 10% 40px 10%;
    border-bottom: 1px solid rgb(230 230 230);
}

.trending-stories-header {
    display: flex;
    align-items: center;
}

.trending-icon {
    display: flex;
    padding-right: 15px;
}

.trending-on-medium-text {
    display: flex;
    letter-spacing: 0.083em;
    font-size: 12px;
    font-weight: 700;
    color: inherit;
}

.trending-ul-div {
    display: grid;
    grid-template-rows: 110px 110px;
    grid-template-columns: 27% 27% 27%;
    grid-gap: 0 8%;
}

.trending-ul {
    padding: 0px;
}

#trending-imgs {
    height: 23px;
    width: 23px;
    object-fit: cover;
    border-radius: 50%;
}

#trending-story-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
