

.non-user-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 110px 20px 110px;
    background-color: #ffc116;
    /* transition: background-color 300ms linear; */
    border-bottom: 1px solid black;
    align-items: center;
}

.non-user-links {
    /* display: flex; */
}

.left-side-nav {
}

.betwxd-div {
    /* display: flex; */
}

#logo {
    display: flex;
    height: 30px;

}

#betwxd {
    display: flex;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    align-items: center;
}

.right-side-nav {
    display: flex;
    align-items: center;
}

#demo-link {
    /* display: flex; */
    margin-right: 20px;
    cursor: pointer;
}

#sign-in-link {
    margin-right: 20px;
    color: inherit;
}

#get-started-link {
    /* margin-right: 20px; */
    transition: background-color 300ms linear, color 300ms linear;
    border-width: 1px;
    border-radius: 99em;
    border-color: rgba(25, 25, 25, 1);
    background: rgba(25, 25, 25, 1);
    padding: 7px 16px 9px;
    color: white;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
}


.side-nav-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    position: fixed;
    top: -3px;
    height: 100%;
    padding-top: 40px;
    padding-right: 3px;
    border-right: 1px solid #e6e6e6;
    left: 4px;
    background-color: white;
}

.side-nav-div {
    /* position: absolute; */
    background: white;
    /* top: 255px;
    left: 36px;
    align-items: center; */

}

#home-icon {
    margin-bottom: 30px;
}

#list-icon {
    margin-bottom: 30px;
}

#write-icon {
    margin-bottom: 30px;
}

.top-icon-div {
    display: flex;
    justify-content: center;
}

#mediumLogo {
    margin-bottom: 30px;
    height: 30px;
    /* bottom: 307px; */
    /* position: absolute; */
    /* left: -4px; */
}



.middle-icons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 117px;
}

.logout-div {
    margin-top: 278px;
}

#logout-btn {
    /* position: absolute; */
    /* top: 631px;
    left: 22px; */
    padding: 4px 10px 4px 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}
