.user-page-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 190px;
    height: 100vh;
}

.users-stories-div {
    display: flex;
    padding-top: 40px;
}

.users-profile-div {
    display: flex;
    padding: 40px;
    border-left: 1px solid #e6e6e6;
}
