.user-page-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100vh;
}

.users-stories-div {
    display: flex;
    padding: 40px 225px 0;
    width: 100%;
    justify-content: center;
}

.users-profile-div {
    border-left: 1px solid #e6e6e6;
}

.users-profile-info {
    padding: 0 40px;
    width: 318px;
}

#profile-photo {
    border-radius: 50%;
    height: 88px;
    width: 88px;
    object-fit: cover;
}

#profile-username {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

#profile-bio {
    margin: 0 0 40px 0;
}

#profile-edit-link {
    color: rgba(26, 137, 23, 1);
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
    margin-top: 25px;
    cursor: pointer;
    width: fit-content;
}

#profile-edit-link:hover {
    color: rgba(0,0,0,0.8);
}

#technologies-used {
    color: rgba(117, 117, 117, 1);
    margin-top: 50px;
    font-size: 12px;
    line-height: 1.5;
}
