.user-page-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 190px;
    height: 100vh;
}

.users-stories-div {
    display: flex;
    padding-top: 40px;
}

.users-profile-div {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e6e6e6;
}

.users-profile-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 40px;
    width: 318px;
}

#profile-photo {
    border-radius: 50%;
    height: 88px;
    width: 88px;
    object-fit: cover;
}

#profile-username {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

#profile-bio {
    margin: 0;
}
