.user-page-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.users-stories-div {
    display: flex;
    margin-right: 20px;
    padding: 40px 80px 0 200px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.users-profile-div {
    border-left: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.users-profile-info {
    padding: 0 40px;
    width: 318px;
}

#profile-photo {
    border-radius: 50%;
    height: 88px;
    width: 88px;
    object-fit: cover;
}

#profile-username {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

#profile-edit-link {
    color: rgba(26, 137, 23, 1);
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
    margin-top: 25px;
    cursor: pointer;
    width: fit-content;
}

#profile-edit-link:hover {
    color: rgba(0,0,0,0.8);
}

.users-profile-technologies-div {
    display: flex;
}

#users-profile-technologies {
    color: rgba(117, 117, 117, 1);
    font-size: 12px;
    line-height: 1.5;
    padding: 50px 40px 0;
    width: 318px;
}
