/* .edit-comment-box-div {
} */

/* .edit-comment-box {

    position: relative;
    right: 41px;
} */

#update-comment-btn {
    background-color: rgb(26, 137, 23);
    padding: 4px 12px 6px;
    border: 1px solid rgb(26, 137, 23);
    border-radius: 99em;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
