#chat-icon {
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin-right: 5px;
}

.comments-ul {
    border-bottom: 1px solid #e5e5e5;
    width: 85%;
    margin-left: 30px;
    padding: 0px 0px 15px 0px;
}

#comments-date {
    color: rgba(117, 117, 117, 1);
}

#no-comments-text {
    text-align: center;
    margin-top: 50px;
}

#please-login-text {
    text-align: center;
    margin: 40px 14px 40px 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e5e5e5;
    width: 85%;
}

.comments-profile-photo-username-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comments-profile-photo {
    display: flex;
}

.comments-username {
    display: flex;
}

#separator {
    font-size: 13px;
    color: #e6e6e6;
    margin: 0 10px;
}

#comment-count {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
}
