.all-comments-div {
    display: flex;
    flex-direction: column;
}

.comment-content {
    resize: none;
    height: 50px;
    width: 277px;
    border: none;
    line-height: 50px;
    color: inherit;
    font: inherit;
    margin: 15px 0px 10px 0px;
    background-color: white;
}

#comment-update-btn {
    background-color: rgb(255, 255, 255);
    padding: 4px 12px 6px;
    border: 1px solid rgb(26, 137, 23);
    border-radius: 99em;
    color: rgb(26, 137, 23);
    cursor: pointer;
}

.edit-comment-btns-div {
    display: flex;
    justify-content: flex-end;
}

.comments-delete-btn-div {
    display: flex;
}

#comment-edit-btn {
    background-color: rgb(26, 137, 23);
    padding: 4px 12px 6px;
    border: 1px solid rgb(26, 137, 23);
    border-radius: 99em;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

#comments-delete-btn {
    color: rgba(0, 0, 0, 0.698);
    padding: 4px 12px 6px;
    border: 1px solid rgb(26, 137, 23);
    border-radius: 99em;
    cursor: pointer;
    border: none;
    margin-right: 3px;
}
