.splash-container {
    padding: 0px 10% 0px 10%;
    background-color: #ffc116;
    border-bottom: 1px solid black;
    margin-bottom: 80px;
}

.first-container {
    display: flex;
    flex-direction: column;
    background-color: #ffc116;
    padding: 93px 0px 93px 0px;
    width: 550px;
}

#stay-curious {
    margin-bottom: 30px;
    letter-spacing: -0.05em;
    line-height: 95px;
    font-size: 106px;
    color: rgba(8, 8, 8, 1);
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

#discover-stories {
    font-size: 24px;
    line-height: 24px;
    color: rgba(41, 41, 41, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 50px;
}
