.splash-container {
    display: flex;
    background-color: #feb714;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    justify-content: space-between;
}

.splash-div {
    display: flex;
    flex-direction: column;
    background-color: #feb714;
    padding: 93px 0px 93px 10%;
}

#stay-curious {
    margin-bottom: 30px;
    letter-spacing: -0.05em;
    line-height: 95px;
    font-size: 106px;
    color: rgba(8, 8, 8, 1);
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

#discover-stories {
    font-size: 24px;
    line-height: 24px;
    color: rgba(41, 41, 41, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 50px;
}

#splash-img-div {
    display: flex;
    overflow: hidden;
}

.stories-discover-more-container {
    display: flex;
    margin: 0 0 0 3.5%;
}

#stories-div {
    display: flex;
}

#discover-more-div {
    display: flex;
    margin: 35px 0 0 150px
}
