.search-div {
    display: flex;
    justify-content: center;
    border: 1px solid #e6e6e6;
    padding: 10px 130px 10px 15px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 40px;
}

#search {
    display: flex;
    border: none;
}

#search-img {
    display: flex;
    height: 18px;
    padding-right: 10px;
}

#begin-writing-a-story-btn {
    border: 1px solid rgba(25, 25, 25, 1);
    color: white;
    padding: 10px 93px;
    border-radius: 20px;
    font-size: 14px;
    background-color: rgba(25, 25, 25, 1);
    cursor: pointer;
}

.username-search-result {
    display: flex;
    border: 1px solid #9999993b;
    height: 47px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 1px rgb(135 135 135 / 25%);
    padding: 8px 24px;
    width: 260px;
    background-color: white;
    flex-direction: column;
    position: absolute;
    top: 162px;
    left: 1082px;
    justify-content: center;
}

.profile-photo-and-username-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-photo-div {
    display: flex;
}

.username-result {
    display: flex;
    width: fit-content;
    color: black;
    font-size: 14px;
}

.story-photo {
    height: 23px;
    width: 23px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
}
