.misc-outer-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
}

.misc-top-container {
    display: flex;
    flex-direction: column;
}

.misc-search-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.misc-readings-topics-users-div {
    padding: 0 40px 40px 40px;
    width: 318px;
    margin-top: 80px;
}

.misc-bottom-container {
    display: flex;
}

#technologies-used {
    color: rgba(117, 117, 117, 1);
    font-size: 11px;
    line-height: 1.5;
    padding: 0 40px;
    width: 318px;
}
