.stories-misc-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.stories-misc-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.what-were-reading-recommended-container {
    padding: 0 40px 40px 40px;
    width: 318px;
}
