html {
    overflow-y: overlay;
}

.viewstory-container {
    display: flex;
}

.viewstory-outer-div {
    display: flex;
    margin-right: 20px;
    padding: 40px 100px 0 200px;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.viewstory-inner-div {
    width: 690px;
}

#viewstory-user {
    margin-top: 40px;
}

#viewstory-date {
    color: rgba(117, 117, 117, 1);
}

#viewstory-title {
    letter-spacing: -0.016em;
    line-height: 40px;
    font-size: 32px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(41, 41, 41, 1);
    font-weight: 700;
    margin-top: 20px;
}

#viewstory-img {
    height: 430px;
    width: 690px;
    object-fit: cover;
    margin-top: 20px;
}

#viewstory-story {
    font-size: 20px;
    margin-top: 40px;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: -0.003em;
    line-height: 32px;
    margin-bottom: 40px;
}

#viewstory-claps-comments-floating-icon-div {
    position: sticky;
    bottom: 15px;
    transition: opacity 300ms;
    width: 100%;
    display: flex;
    justify-content: center;
}

#viewstory-claps-comments-floating-icon {
    display: flex;
    justify-content: center;
    transform: translateY(0px);
    background-color: rgba(255, 255, 255, 1);
    padding: 0 40px;
    height: 40px;
    border-radius: 20px;
    width: 50px;
    align-items: center;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px 0px;
}

.viewstory-stories {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
